@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



.azeret-mono-language {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
*
{
    margin: 0;
}
.navigation
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 60px;
}
.main
{
    text-align: center;
    background-image: url('assets/Hero-bg.png');
}
.web-development
{
    
    text-align: center;
    padding-top: 80px;
    background-color: #0d132117;
    border-radius: 16px;
}
.Inspiration
{
    margin-top: 100px;
    text-align: center;
}
.video-container {
    overflow: hidden; 
    border-radius: 15px; 
    width: 100%;
    height: 450px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.target
{
    text-align: center;
    margin-top: 170px;
}
.p-language
{
    display: flex;
    gap: 20px;
    padding-top: 40px;
    margin-bottom: 55px;
    justify-content: center;
    
}
.p-language> div
{
    
    text-align: start;
    padding: 40px;
    box-shadow: 10px 10px 20px;
    width: 370px;
}
.support
{
    position: relative;
    text-align: center;
    margin-top: 150px;
    background-image: url(assets/handshake.jpg);
    padding: 80px;
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.foot
{
    display: flex;
    justify-content: space-around;
    background-color: #0d132109;
    padding: 50px 0 20px;
}